<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
</head>
<body>
    <form action="/auth2/login" method="POST">
        <div>
            <input id="userId" name="userId" type="email" placeholder="아이디">
        </div>
        <div>
            <input id="userPw" name="pw" type="password" placeholder="비밀번호">
        </div>
        <div>
            <input type="submit" value="로그인">
        </div>
    </form>
        <a href="auth/signup">회원가입</a>

</body>
</html>