<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">

<body>
<th:block layout:fragment="content">
    <div class="boardContent"></div>
    <div class="container">
        <div class="row" style="overflow: hidden">
            <div class="col-md-6 col-sm-6" style="height: 90vh">
                <div class="list-wrapper">
                    <div th:if="${msg}!='nodata'" >
                        <div class="shopCard" th:each="vo : ${list}" th:data-key="${vo.articleNo}">
                            <div class="image-box">
    <!--                                    <img class="main_thumb" th:src="${vo.file_name}"/>-->
                            </div>
                            <div class="title-box">
                                <div>
                                    <div>[[${vo.title}]]</div>
                                    <div>[[${vo.hitCnt}]] / [[${vo.likeCnt}]]</div>
                                </div>
                                    <div>[[${vo.contents}]]</div>
                                    <div>[[${vo.insDate}]]</div>
                            </div>
                        </div>
                    </div>
                    <div class="load-bar">
                        <p>더 불러오기</p>
                    </div>
                </div>
                <div class="pagination-box">
                    <th:block th:each="num : ${#numbers.sequence(1,pagination.currentPageSize)}">
                        <div class="" th:classappend="${num}==${pagination.currentPageNo}?'current-page'">[[${num}]]</div>
                    </th:block>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="map-wrapper">
                    <div id="map" style="width:100%;height:70vh;">

                    </div>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5095f17741658a2619e264f83febd1f&libraries=services,clusterer,drawing"></script>
                    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d5095f17741658a2619e264f83febd1f"></script>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                    <script th:inline="javascript">

                    </script>
                </div>
            </div>
        </div>
    </div>



</th:block>
</body>
</html>