<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">

<th:block layout:fragment="content">
    <div class="container">
        <div class="">
            <div class="">article detail page</div>
                <div class="contents_wrapper">
                    <div class="article_container" th:with="vo=${contents[0]}">
                        <div class="title_area">
                            <div>No.[[${vo.articleNo}]]</div>
                            <div id="title">제목[[${vo.title}]]</div>
                            <div>[[${vo.insDate}]]</div>
                        </div>
                        <div class="sub_area">
                            <div>작성자[[${vo.userNo}]]</div>
                            <div>
                                <div>hit_cnt[[${vo.hitCnt}]]</div>
                                <div class="like_cnt">like_cnt[[${vo.likeCnt}]]</div>
                            </div>
                        </div>
                        <div class="article_area">
                            <div id="contents">내용[[${vo.contents}]]</div>
                        </div>
                        <div class="bottom_area">
                            <div>shop_no[[${vo.shopNo}]]</div>
                        </div>
                        <div class="photo_container">
                            <th:block th:if="${#lists.size(photoList)}>0">
                                <div class="photo_block"
                                     th:each="ph : ${photoList}">
                                    <img th:src="${ph.url}" alt="userphoto"/>
                                </div>
                            </th:block>
                        </div>

                        <div>
                            <div class="comment_textarea_wrapper">
                                <th:block th:unless="${isLogin}">
                                    <textarea class="comment_textarea" placeholder="댓글을 작성하려면 로그인하세요"></textarea>
                                </th:block>
                                <th:block th:if="${isLogin}">
                                    <textarea class="comment_textarea"></textarea>
                                </th:block>
                                <button th:data-article-no="${vo.articleNo}"
                                        th:disabled="${!isLogin}"
                                        class="lv1_comment_btn">comment
                                </button>
                                <th:block th:if="${isLogin}">
                                    <button th:text="${vo.likeYn}=='n'?'like':'like cancel'"
                                            th:data-liked="${vo.likeYn}"
                                            th:data-article-no="${vo.articleNo}"
                                            class="like_btn"></button>

                                    <th:block th:if="${vo.userNo}==${userInfo.userNo}">
                                        <button class="article_edit_btn">edit</button>
                                    </th:block>
                                </th:block>

                            </div>
                            <div>댓글[[${cnt}]]</div>
                        </div>
                    </div>

                <th:block th:if="${#lists.size(comment)}>0">
                    <div class="comment_list_container">
                        <div class="comment unselected"
                             th:each="vo : ${comment}"
                             th:classappend="|level${vo.lv}|">
                            <div class="comment_contents">
                                <div>No[[${vo.commentNo}]]</div>
                                <div>user_no [[${vo.userNo}]]</div>
                                <div>contents [[${vo.contents}]]</div>
                                <div>test now
                                    [[${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}]]
                                </div>
                                <div>ins_date [[${vo.insDate}]]</div>
                            </div>
                            <div class="comment_textarea_wrapper">
                                <th:block th:unless="${isLogin}">
                                    <textarea class="comment_textarea" placeholder="댓글을 작성하려면 로그인하세요"></textarea>
                                </th:block>
                                <th:block th:if="${isLogin}">
                                    <textarea class="comment_textarea"></textarea>
                                </th:block>
                                <button th:data-article-no="${vo.articleNo}"
                                        th:data-grp="${vo.grp}"
                                        th:data-seq="${vo.seq}"
                                        th:data-lv="${vo.lv}"
                                        th:data-comment-no="${vo.commentNo}"
                                        th:data-parent-no="${vo.parentNo}"
                                        class="comment_btn">comment</button>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:unless="${#lists.size(comment)}>0">
                    <div class="comment_list_container">
                        댓글이 없다
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>
</html>