<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layoutContents.html}">
<body>
<th:block layout:fragment="script">
    <script th:src="@{../resources/dist/write.bundle.js}"></script>
</th:block>
<th:block layout:fragment="content">
    <div class="boardContent"></div>
    <div class="container">
        <div class="">
                    <div class="">
                        <input type="text" class="" id="search" placeholder="이름으로 찾기"/>
                    </div>
                    <br>
            <form class="form-horizontal" enctype="multipart/form-data" action="/board/article" method="post">
                <div class="form-group">
                    <label class="" for="shopName">가게</label>
                    <div class="">
                        <input type="text" class="required" id="shopName" name="shopName" readonly/>
                    </div>
                    <div class="">
                        <input type="hidden" class="required" id="shopNo" name="shopNo">
                    </div>
                    <div class="search_area">
                            <div class="item hidden" th:each="vo : ${shopList}">
                                <span class="icon"></span>
                                <span class="name" th:data-no="${vo.shopNo}">[[${vo.shopName}]]</span>
                            </div>
                    </div>
                </div>
                <div class="article_container">
                    <div class="title_area">
                        <div class="input_wrapper">
                            <label for="title"></label>
                            <input type="text"
                                   class="required"
                                   id="title"
                                   name="title"
                                   placeholder="title">
                        </div>
                    </div>
                    <div class="sub_area">
                        <div></div>
                        <div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="article_area">
                        <label for="contents"></label>
                        <div class="input_wrapper">
                            <textarea class="required contents_textarea"
                                      id="contents"
                                      name="contents"
                                      placeholder="contents"></textarea>
                        </div>
                    </div>
                    <div class="thumb_container" style="width:100px"></div>
                </div>
                <div class="">
                    <label for="files"></label>
                    <div class="">
                        <input type="file" class="" id="files" name="files" multiple>
                    </div>
                </div>
                <div>
                    <button id="submit_btn" type="submit" disabled="disabled">등록</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>
