<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<header class="nav-down header">
    <nav id="gnb">
        <div class="logo">
            <a href="/">
                <img src="/" height="60">
            </a>
        </div>
        <div>
            <input class="serch" placeholder="동네">
        </div>

        <div class="menu">
                <li><a href="/board/writeForm">쓰기</a></li>
            <th:block th:if="${isLogin}">
            <th:block>[[${userInfo.userNo}]]</th:block>
            <th:block>[[${userInfo.username}]]</th:block>
                <li><a class="addShop_btn">샵추가</a></li>
                <li><a href="/auth2/logout" class="logout_btn">로그아웃</a></li>
            </th:block>
            <th:block th:unless="${isLogin}">
                <li><a href="/oauth2/authorization/google">구글로그인</a></li>
                <li><a href="/auth/loginForm">그냥로그인</a></li>
            </th:block>
<!--            <li><a href="/">메뉴</a></li>-->
<!--            <li><a href="/">마이페이지</a></li>-->
        </div>
    </nav>
</header>
