<th:block th:fragment="headFragment">

    <meta charset="UTF-8">
    <!-- -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="../../css/common.css">
    <!-- -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- -->
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</th:block>
<th:block th:fragment="scriptFragment">
    <script defer src="../../resources/dist/main.bundle.js"></script>
</th:block>