body, html {
    height: 100%;
}

body {
    padding-top: 70px;
}
header {
    z-index:999;
    position: fixed;
    top : 0;
    transition: top 0.3s ease-in-out;

    opacity: 0.9;
    height: 70px;
    width: 100%;
    font-size: 18px;
}
.logo{
    width: 150px;
}
.nav-up {
    top: -70px;
}


.nav-down {
    display: inline-flex;
}

nav {
    background-color: #f8f8f8;
    width: inherit;
    box-sizing: border-box;
    box-shadow: 0 1px 2px hsl(0deg 0% 0% / 5%);
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serch {
    box-shadow: none;
    text-indent: 20px;
    border: none;
    width: 200px;
    height: 70px;
}

.menu>li {
    display: inline-block;
    background-color: transparent;
    list-style: none;
    padding: 5px 20px 5px 5px;
}
.menu>li>a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.menu>li>a:hover{
    font-size: 20px;
}

.row>div:nth-child(1){
    overflow: auto;
    height: inherit;
}
.element::-webkit-scrollbar { width: 0 !important }

.container {
    height: 85%;
    width: 100%;
    padding: 10px 50px 10px 50px;

}
.footer {
    background-color: gray;
    height: 5%
}
.boardContent {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 99;
    box-shadow: 0 1rem 1rem hsl(0 0% 0% / 10%);

}
.shopCard{
    overflow:hidden;
    position:relative;
    display: inline-block;
    align-items: center;

    width: 90%;
    height: 200px;
    box-shadow: 3px 3px 8px 0px hsl(0deg 0% 83%);
    background: hsl(0deg 0% 98%);
    color: hsl(200 50% 20%);
    line-height: 1.5;

    place-items: center;
    text-align: center;
    margin: 20px 0px 20px 0;
    /*border-radius: 2ch;*/
    border: 0px solid hsl(0 0% 85%);
}
.main_thumb {
    height: 200px;
    width: 200px;
}

.hidden {display: none;}
.unselected > .comment_textarea_wrapper {display: none;}.selected > .comment_textarea_wrapper {display: flex;}
/* 댓글 요소 */
.level1{margin-left: 20px}.level2{margin-left: 40px}.level3{margin-left: 60px}
.level4{margin-left: 70px}.level5{margin-left: 80px}.level6{margin-left: 90px}
.comment{padding: 10px 10px 10px 10px; border-left: solid gray;}
.comment_btn{border: none}
.comment_btn:focus{outline: none; background-color: white}
.comment_textarea{width: 60%; border: none; resize: none; background-color: aliceblue;}
.comment_textarea:focus{outline: none; background-color: white}
.comment_textarea_wrapper{display: flex;}
.lv1_comment_btn{border: none}
.lv1_comment_btn:focus{outline: none; background-color: white}
.comment_list_container{max-width: 800px; min-width: 400px; margin-top: 20px;}
/* 본문 요소 */
.article_container{max-width: 800px; min-width: 400px;  border-bottom: solid gray;}
.title_area{display: flex; justify-content: space-between; font-size:larger; font-weight: bolder; padding: 2px; border-bottom: solid gray; margin-top:10px;
    max-width: 700px; min-width: 400px;}
.sub_area{display: flex; justify-content: space-between; background-color: ghostwhite; padding: 2px;
    max-width: 700px; min-width: 400px;}
.article_area{max-width: 700px; min-width: 400px; min-height: 200px; padding: 10px;}
.photo_container{display: flex;}
.photo_block{display: flex; width: 150px; height: 150px;}
.photo_block>img{object-fit: cover}

/* write */
.search_area>.item{padding-left:10px; width:200px; background-color: antiquewhite;}
.input_wrapper{min-width: inherit; min-height: inherit;}
input{border: none; max-width: inherit; min-width: inherit; max-height: inherit; min-height: inherit; border-bottom: solid gray;}
input:focus{outline:none; background-color: aliceblue;}
.contents_textarea{min-width: inherit; min-height: inherit; border: none; resize: none;}
.contents_textarea:focus{outline: none;}
